body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(201.23deg, #073845 16.95%, #040f16 67.5%); */
background-color:#073845 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mobile-svg {
  display: none;
}
@media (max-width: 768px) {
  .web-svg {
    display: none;
  }
  .mobile-svg {
    display: block;
  }
  .bottom-text{
    bottom: 85px !important;
  }
  .language-selector2{
    right: 55px !important;
  }
}
@media (max-width: 480px) {
}
