body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-cookie-law-dialog{
 bottom:0px !important;
 top: unset !important;
 background-color: #E2CAA2 !important;
}
.react-cookie-law-msg{
  font-size: 13pt !important;
}
.react-cookie-law-manage-btn{
  background-color: #0A5D8F !important;
  border-radius: 10px !important;
  border: unset !important;
  padding: 10px !important;
}
.react-cookie-law-accept-btn{
  background-color: #0A5D8F !important;
  border-radius: 10px !important;
  border: unset !important;
  padding: 10px !important;
}
.react-cookie-law-save-btn{
  background-color: #0A5D8F !important;
  border-radius: 10px !important;
  border: unset !important;
  padding: 10px !important;
}
.react-cookie-law-option-wrapper label{
  color: black !important;
}
.react-cookie-law-option-checkbox{
  top: 0px !important;
    left: -4px !important;
    width: 18px !important;
    height: 18px !important;
}